<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Gabriel Cordeiro</title>

    <link rel="icon" href="/images/bluefire.png" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <img
        src="/images/photo.png"
        alt="Foto de Gabriel Cordeiro"
        class="photo"
      />
      <h1 id="title">Gabriel Cordeiro</h1>
    </header>
    <section>
      <header>
        <h2 class="subtitle">Posts</h2>
      </header>
      <article class="post">
        <header>
          <h3 class="post_title">Post 1 - Many desktop publishing packages</h3>
          <img
            src="/images/code.png"
            alt="Notebook com editor de texto aberto"
            class="post_image"
          />
        </header>
        <p class="post_text">
          It is a long established fact that a reader
          <a
            href="https://www.linkedin.com/in/gabriel-cordeiro-31bb25203/"
            target="_blank"
            >will be distracted</a
          >
          by the readable content of a page when looking at its layout. The
          point of using Lorem Ipsum is that it has a more-or-less normal
          <a href="mailto:gabrielcordeiro25@gmail.com" target="_blank"
            >distribution of letters</a
          >, as opposed to using 'Content here, content here', making it look
          like readable English. Many desktop publishing packages and web page
          editors now use Lorem Ipsum as their default model text, and a search
          for 'lorem ipsum' will uncover many web sites still in their infancy.
          Various versions have evolved over the years, sometimes by accident,
          sometimes on purpose injected humour and the like.
        </p>
      </article>
    </section>
    <footer>
      <ul class="contact_list">
        <li>
          <a href="mailto:gabrielcordeiro25@gmail.com" target="_blank"
            >gabrielcordeiro25@gmail.com</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/gabriel-cordeiro-31bb25203/"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a href="https://github.com/gabrielcordls" target="_blank">GitHub</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
